body{
    background-image: url("data/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: #000000;
}

h1{
    background-color:#a6c5e486;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
nav{
    background-color:blanchedalmond ;

}
img{
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 20px;
    padding-left: 100px;
    padding-right: 60px;
}

div {
    background-color: #f4aaeb80;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #000000;
}
.image-container {
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.clickable-image img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
.image-container.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.image-container.overlay img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}


.image-container img {
    max-width: 20%; 
    height: 200px;
    margin: 15px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-container:hover img {
    transform: scale(1.2); 
    box-shadow: 0 10px 20px rgba(198, 61, 61, 0.3); 
}
.backg {
    background-color: #87c8f06a;
    color: #000000;
}
.theme {
    background-image: url("contact-img.png");
    opacity: 0.7;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.customer {
    align-items: center;
    justify-content: center;
}

img {
    max-width: 35%;
    max-height:15%;
    float: left;
}

.text {
    font-size: 20px;
    padding-right:500px;
    padding-top: 1%;
    float: right;
}
a{
    text-decoration: none;
}
.moving-text {
    position: relative;
    width: 100%;
    text-align: center;
}

.moving-text p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveText 4s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -50%) translateX(-100px);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
.moving-text h2{
    background-color: rgba(176, 123, 123, 0.714);
    color: white;

}
.sec_bg{
    background-color: rgba(255, 13, 98, 0.248); 
    color: white;
    
}
.sec_bg a{
    color: rgb(255, 255, 255);
    
}
.hover-text a {
    color: #333; 
    transform: scale(1.2); 
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    
}
.hover-text a:hover {
    color: #df1f56; 
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(12, 10, 10, 0.3);
}
.icon img{
    margin-left: 40%;
}
.icon b{
    margin-right: 40%;
}